body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
 }
 
 .App {
  text-align: center;
  padding: 20px;
 }
 
 .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin); 
  color: white;
  padding: 10px; 
 }
 
 .App-link {
  color: #61dafb;
 }
 

 .main-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
 }
 
 .main-form label {
  display: block;
  margin-bottom: 10px;
 }
 
 .main-form input[type="text"],
 .main-form input[type="date"],
 .main-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
 }
 
 .main-form button {
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2px;
 }
 
 .main-form button:hover {
  background-color: #444;
 }
 
 .error-message {
  color: red;
  margin-top: 10px;
 }

.submit-btn {
  float: right;  
  margin-right: 20px;  
}
